<h1>Lista de Noticias en vivo</h1>
<% @articles.last(10).reverse_each do |article|%>
	<h2><%=	article.title %></h2>
	<h3>
		<%= article.subhead %>
	</h3>
	<div>
		<%= article.body_truncated %>
	</div>
	<br>
	<div>
		Fecha de publicación: <%= article.created_at%>
	</div>
	<br>
	<div>
		Numero de comentarios: <%= article.comments.count%>
	</div>
	<br>
	<div>
		<%= link_to "Ver", article_path(article)%>
	</div>
<%end%>